
.container-fluid{
    /* background-image: url("https://images.unsplash.com/photo-1574010498458-e2667e9da424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: 50% 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    font-size: 20px;
}
.card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 4px 20px rgba(7, 3, 3, 0.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 4px 20px rgba(7, 3, 3, 0.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }



