{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}
    
    <!-- News sources -->
    {%block content%}
    <h1 style="margin-left: 35%; font-size: 60px; font-weight: 900;">Various News Sources</h1>
        {% for various_sources in sources%}
        <p>{{macro.display_sources(sources)}}</p>

        {% endfor %}
    {% endblock %}
<!-- </body> -->

</html>
