<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/navbar.css')}}">
  <header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: black;">
      <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwGOx3435IjtqZ9yUVIP8vkPKhM6xDKzmx3QdmcSKM_4JHkfXeYg&s" width="180">
        <a href="#" class="navbar-brand">NEWS HIGHLIGHTS</a>

        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
        </button>

        <div id="main-nav" class="collapse navbar-collapse">
        
              <a href="/" class="nav-item nav-link" data-toggle="dropdown">Home</a>
           
        </div>
      </div>
    </nav>

  </header>

</body>

</html>